/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	
.Products_group1_product1{
    width: 23%;
	}
.main_product .main_product_group1 .main_product_1 {
    width: 23%;
}	
.footer_group .Information_Gr {
    width: 33%;
}

.footer_group .Customer_info {
    width: 32.50%;
}
.footer_group .social_contact {
    width: 33%;
}


.pre_details {
    width: 100%;
	max-width: none;
}
.details_img img {
    width: 75%;
	max-width: none;
}
}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
.Products_group1_product1{
	width: 94%;
}
.main_product .main_product_group1 .main_product_1 {
    width: 45%;
}

.pre_details {
    width: 100%;
	max-width: none;
}
.details_img img {
    width: 75%;
	max-width: none;
}


.tblone th {
    padding:0;
}
.tblone td {
    padding: 0;
	font-size: 10px;
}
.th_1 {
    width: 12%;
}
.th_5 {
    width: 21%;
}
.tblone img {
    width: 40px;
    height: 25px;
}
.shopping .Con_shop {
    width: 100%;
}
.shopping .Check_shop {
    width: 100%;
}
.footer_group .Information_Gr {
    width: 100%;
}

.footer_group .Customer_info {
    width: 100%;
}
.footer_group .social_contact {
    width: 100%;
}
	
}






/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.Products_group1_product1{
	width: 47%;
}
.main_product .main_product_group1 .main_product_1 {
    margin: 10px 20px;
    width: 40%;
}

.pre_details {
    width: 100%;
	max-width: none;
}
.details_img img {
    width: 75%;
	max-width: none;
}

.lone th {
    padding: 0 10px;
    font-size: 15px;
}

.tblone td {
    padding: 10px;
}

.footer_group .Information_Gr {
    width: 100%;
}

.footer_group .Customer_info {
    width: 100%;
}
.footer_group .social_contact {
    width: 100%;
}

}




/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	
}